body{
font-family:  "PT Sans Caption", sans-serif;
background-color: #24353f;
}
.header{
    box-shadow:    -5px 2px 50px -10px rgba(0, 0, 0, 1);
}
.header h1{
    text-align: center;
    position: relative;
    font-size: 2em;
color: #17a2b8;

    padding: 5px;
}


.navbar{
    background-color: #24353f !important;
}
.form-control {
    background-color: transparent !important;
    color: #ffffff !important;
}

.form-control::placeholder {
    /* modern browser */
    color: gray;
}
  
.btn-submit{
    width: 150px;
    height: 35px;
    padding: 0;
  
    text-align: center;
    background-color: #aa2525;
}
.btn-submit:hover{
    background-color: #531414;
}
.btn-visit{
    background-color: #3ca55c;
    color: white
}
.btn-visit:hover{
    background-color: #317e56;
    color: #f7ecde;
}
.btn-delete{
    background-color: #aa2525;
    color: white;
}
.btn-delete:hover{
    background-color: #531414;
    color: #f7ecde;
}

#success{
    text-align: center;
    font-size: 2em;
    color: #3ca55c;
}